.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.lista{
    margin-top: 50px;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.icondelete{
    margin-left: 20px;
}

.text{
    margin-left: 20px;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
}